/* Footer.css */

/* The container for the entire footer */
.footer {
  width: 100%;
  /* Adjust height as needed */
  background-color: #292e36;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px; /* Add padding to the entire footer */
}

/* Style for individual footer items */
.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px; /* Adjust margin between items */
}

/* Styles for social media icons */


/* Style for text content */
.footer p {
  color: white;
  margin: 5px 0; /* Adjust margin for text */
}

.contact-details,
.working-hours {
  text-align: left;
  margin-bottom: 20px;
}
.subscribe-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.subscribe-box input {
  flex: 1;
  border: 2px solid #e1b168;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}

.subscribe-box button {
  background-color: #e1b168;
  color: #292e36;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.subscribe-box button:hover {
  background-color: #292e36;
  color: #e1b168;
}

.contact-details,
  .working-hours {
    text-align: left;
    margin-bottom: 20px;
  }

  .contact-details p,
  .working-hours p {
    color: #e1b168;
    margin: 0;
  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292e36;
    color: #fff;
    padding: 5px;
    
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292e36;
    color: #fff;
    padding: 5px;
  }
 .logo {
  width: 70%;
  max-height: 70%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
 }

 .row-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-center h5{
  color:#fff;
  text-decoration: underline;
  text-decoration-color: white;
}

.socialMedia svg {
  color: white;
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
}

/* Style the input box */
input[type="text"] {
  border: 1px solid white; /* Add a white border */
  color: white; /* Set text color to white */
  padding: 5px 10px;
  height: 40%;
  background-color: transparent;
}

/* Style the input placeholder */
input[type="text"]::placeholder {
  color: white; /* Set placeholder text color to white */
}

/* Style the button */
button {
  background-color: white; /* Set the button background to white */
  color: #292e36; /* Set button text color to grey */
  border: none; /* Remove button border */
  padding: 5px 10px; /* Add padding for better spacing */
  cursor: pointer;
  height: 40%;
}

/* Change button color on hover */
button:hover {
  background-color: grey; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

.time h6{
  color: white;
  padding: 5px 10px;
}
.time p{
  color: #e1b168;
}

.line {
  border: 2px;
  border-top: 2px solid grey;
  width:100%;
  margin: 10px auto;
}

