/* Navbar.css */
.top-section {
  background-color: #292e36;
  padding: 20px 0;
  text-align: center;
}

  
  
  .navbar {
      justify-content: space-between;   
      width: 100%;
      height: 20%;
      background-color: #292e36;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 20px;

      
    }
    
    .navbar .righttSide {
      flex: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 150px;
      align-content: end;
      
    }
    
    .navbar .rightSide img {
      width: 70px;
    }
    
    .navbar .leftSide {
      flex: 50%;
      height: 100%;
      display: flex;
      align-items: left;
      justify-content:left;
      padding-left: 10%;
      gap: 10px;
    }
    
    .navbar a {
      color: white;
      text-decoration: none;
      margin: 20px;
      
    }
    
    .navbar .leftSide button {
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
      
      
    }

   
    
    .navbar .leftSide svg {
      font-size: 40px;
    }
    
    .navbar #open {
      padding-left: 0px;
    }
    .navbar #open img {
      display: none;
    }
    
    .navbar #close img {
      display: inherit;
    }
    
    
    .navbar #open a {
      width: 70px;
      margin: 5px;
    }

    
    .socialMedia svg {
    color: white;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
    }
  
  .text-center .contact-button{
    height: 50px; /* Adjust the height as needed */
    width: 80%;
    border-radius: 0;
    padding: 7% 10%;
    border-color: #e1b168;
    color: white;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    text-overflow: ellipsis;
    line-height: 1.2;
    margin: 50px 20px;
    align-content: start;
    
    
    
  }
  .text-center .booking-button{
    height: 50px; /* Adjust the height as needed */
    width: 80%;
    border-radius: 0;
    padding: 7% 10%;
    border-color: #e1b168;
    color: white;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    text-overflow: ellipsis;
    line-height: 1.2;
    margin: 50px 20px; 
    align-content: end;
    
    

  }
  

  .text-center button:hover {
    background-color: #e1b168;
    padding: 9% 10%; /* Adjust the padding as needed */
    color: #292e36;
    text-overflow: initial;
     
}




.contact-button,
.booking-button {
  height: 50px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  padding: 0 20px; /* Adjust the padding as needed */
  font-size: 16px; /* Adjust the initial font size as needed */
  max-width: 100%; /* Allow the text to shrink to fit the button */
}



@media screen and (max-width: 768px) {
  .contact-button,
  .booking-button {
    font-size: 14px;
    padding-bottom: 20%;
    
  }
}

  

    @media only screen and (max-width: 900px) {
      .navbar .leftSide a {
        width: 70px;
      }
      .navbar .rightSide {
        padding-left: 50px;
      }
    }
    
    @media only screen and (max-width: 600px) {
      .navbar .leftSide a {
        display: none;
      }
    
      .navbar .leftSide {
        justify-content: flex-end;
        padding-right: 50px;
      }
    
      .navbar .leftSide button {
        display: inherit;
        
      }
    }
    
    @media only screen and (min-width: 600px) {
      .navbar .leftSide button {
        display: none;


      }
    
      
    }

